* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(/images/hero-bg.jpg) top right;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.827);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 80px;
  /* font-family: "Satisfy", serif; */
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
  animation: forwards;
}

#hero .btn-scroll {
  font-size: 50px;
}

#hero .btn-scroll:hover {
  color: #dc3545;
}

.progress .my-bars {
  background-color: #dc3545;
}

.about-section {
  background-color: black;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #000;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #fff;
}

.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  background: #fff4df;
}

.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #dc3545;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: rgb(125, 125, 125);
  transition: 0.3s;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #dc3545;
  transform: scale(1.1);
  transition: all 0.8s ease-in-out;
}

.services .icon-box:hover .title a {
  color: #dc3545;
}

.portfolio-item img:hover {
  transform: scale(1.2);
}
